<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yapp.ios1.mapper.AlarmMapper">
    <insert id="insertFollowAlarmLog" parameterType="NotificationForOneDto"
            useGeneratedKeys="true" keyProperty="notification.alarmId">
        INSERT INTO follow_alarm_log (title, message, created_at, user_id)
        VALUES (#{notification.title}, #{notification.message}, #{time}, #{friendId})
    </insert>

    <insert id="insertWholeAlarmLog" parameterType="NotificationDto">
        INSERT INTO whole_alarm_log (title, message, created_at)
        VALUES (#{alarm.title}, #{alarm.message}, #{alarm.localDateTime})
    </insert>

    <select id="getCommonAlarmLog" resultType="Notification">
        SELECT id as alarmId,
               title,
               message,
               created_at as createdAt
        FROM whole_alarm_log
        ORDER BY created_at ASC
    </select>

    <select id="getFollowAlarmLog" resultType="Notification">
        SELECT al.id as alarmId,
               f.follower_id   as myUserId,
               f.following_id  as friendId,
               message,
               u.profile_url as profileUrl,
               f.friend_status as friendStatus,
               created_at      as createdAt
        FROM follow_alarm_log al
            JOIN follow f
                ON f.alarm_id = al.id
            JOIN user u
                ON u.id = al.user_id
        WHERE al.user_id = #{userId}
        ORDER BY al.created_at ASC
    </select>

    <delete id="deleteAlarmLog">
        DELETE FROM follow_alarm_log
        WHERE id = #{alarmId} AND user_id = #{userId}
    </delete>
</mapper>