<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yapp.ios1.mapper.AlarmMapper">
    <insert id="insertAlarmLog" parameterType="com.yapp.ios1.dto.notification.NotificationForOneDto">
        INSERT INTO alarm_log (title, message, user_id)
        VALUES (#{notification.title}, #{notification.message}, #{friendId})
    </insert>

    <insert id="insertWholeAlarmLog" parameterType="com.yapp.ios1.dto.notification.NotificationDto">
        INSERT INTO alarm_log (title, message, created_at, distinguish)
        VALUES (#{alarm.title}, #{alarm.message}, #{alarm.localDateTime}, "ALL")
    </insert>

<!--    <insert id="insertAlarmLogBatch" parameterType="com.yapp.ios1.dto.notification.NotificationDto">-->
<!--        INSERT INTO alarm_log (title, message, created_at, distinguish)-->
<!--        VALUES-->
<!--        <foreach collection="list" item="item" separator=",">-->
<!--            (#{item.title}, #{item.message}, #{item.localDateTime}, "ALL")-->
<!--        </foreach>-->
<!--    </insert>-->

    <select id="getAlarmLog">
        SELECT DISTINCT(id) as alarmId,
                        title,
                        message
        FROM alarm_log al
        WHERE al.id NOT IN
              (SELECT id FROM alarm_delete)
          AND (user_id = 1 OR distinguish = "ALL")
        ORDER BY al.created_at ASC
    </select>
</mapper>