<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yapp.ios1.mapper.BucketMapper">
    <select id="findByBucketStateAndCategory" resultType="BucketDto">
        SELECT b.id, b.bucket_name as bucketName,
               b.start_date as startDate,
               b.end_date as endDate,
               b.bucket_state as bucketState,
               c.category_name as categoryName
        FROM bucket b JOIN category c
        ON b.category_id = c.id
        WHERE b.user_id = #{userId}
        <choose>
            <when test="!bucketState.equals('ALL')">
                AND b.bucket_state = #{bucketState}
            </when>
        </choose>
        <choose>
            <when test="categoryId lt 10">
                AND c.id = #{categoryId}
            </when>
        </choose>
        <choose>
            <when test="sortId eq 1">
                ORDER BY id
            </when>
            <otherwise>
                ORDER BY bucket_name
            </otherwise>
        </choose>
    </select>

    <select id="findByCategoryId" resultType="int">
        SELECT count(*) FROM category WHERE id = #{categoryId};
    </select>
</mapper>