<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yapp.ios1.mapper.BucketMapper">
    <select id="findByBucketStateAndCategory" resultType="BucketDto">
        SELECT c.id, c.bucket_name, c.start_date, c.end_date, c.bucket_state, c.count(id) as bucketListCount, b.category_name
        FROM bucket_list b JOIN category c
        ON b.category_id = c.id
        WHERE bucket_state = #{bucketState} and user_id = #{userId}
    </select>

    <select id="findByUserBucketListAll" resultType="BucketDto">
        SELECT id, bucket_name, start_date, end_date, bucket_state, count(id) as bucketListCount,
        FROM bucket_list
        WHERE user_id = #{userId};
    </select>
</mapper>