<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yapp.ios1.mapper.FollowMapper">
    <select id="getFollowCountByUserId" resultType="int">
        SELECT COUNT(*)
        FROM follow
        WHERE following_id = #{userId};
    </select>

    <select id="getFollowListByUserId" resultType="FriendDto">
        SELECT u.id userId, u.email, u.intro, u.profile_url profileUrl
        FROM user u
                 JOIN follow f1 ON f1.following_id = u.id
        WHERE (f1.follower_id = #{userId} AND f1.friend_status = 2)
        UNION
        SELECT u.id as userId, u.email, u.intro, u.profile_url AS profileUrl
        FROM user u
                 JOIN follow f2 ON f2.follower_id = u.id
        WHERE (f2.following_id = #{userId} AND f2.friend_status = 2);
    </select>

    <select id="isFriendByMyUserIdAndOtherUserId" resultType="int">
        SELECT COUNT(id)
        FROM follow
        WHERE ((following_id = #{myUserId} AND follower_id = #{otherUserId}) OR
               (following_id = #{otherUserId} AND follower_id = #{myUserId}))
          AND friend_status = 2;
    </select>

    <insert id="followRequest">
        INSERT INTO follow (following_id, follower_id, friend_status, alarm_id)
        VALUES (#{friendId}, #{myUserId}, #{followRequest}, #{alarmId})
    </insert>

    <update id="followAccept">
        UPDATE follow
        SET friend_status = #{friendStatus}
        WHERE following_id = #{myUserId} AND follower_id = #{friendId}
    </update>
</mapper>

