<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yapp.ios1.mapper.FollowMapper">
    <select id="getFollowCountByUserId" resultType="int">
        SELECT COUNT(*)
        FROM follow
        WHERE following_id = #{userId};
    </select>

    <select id="getFollowListByUserId" resultType="FriendDto">
        SELECT u.id as userId, u.email, u.intro
        FROM follow f
                 JOIN user u ON f.follower_id = u.id
        WHERE following_id = #{userId};
    </select>

    <select id="isFriendByCurrentUserIdAndUserId" resultType="Long">
        SELECT id
        FROM follow
        WHERE following_id = #{currentUserId} AND follower_id = #{userId};
    </select>

    <insert id="followRequest">
        INSERT INTO follow (follower_id, following_id, friend_status)
        VALUES (#{myUserId}, #{friendId}, 2)
    </insert>
</mapper>

