<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yapp.ios1.mapper.FriendMapper">
    <select id="getFollowCountByUserId" resultType="int">
        SELECT COUNT(*)
        FROM follow
        WHERE friend_status = 1 AND follower_id = #{userId}
    </select>

    <select id="getFollowListByUserId" resultType="Friend">
        SELECT u.id             as userId,
               u.email,
               u.nickname,
               u.intro,
               u.profile_url    as profileUrl,
               f.friend_status as friendStatus
        FROM user u
            JOIN follow f
                ON f.following_id = u.id
        WHERE (f.follower_id = #{userId} AND f.friend_status = 1);
    </select>

    <select id="checkFriendStatus" resultType="int">
        SELECT IFNULL((
            SELECT friend_status
            FROM follow
            WHERE (following_id = #{myUserId} AND follower_id = #{otherUserId}) LIMIT 1), 3)
                   as friend_status;
    </select>

    <insert id="insertFollow">
        INSERT INTO follow (following_id, follower_id, friend_status, alarm_id)
        VALUES (#{friendId}, #{myUserId}, #{followRequest}, #{alarmId})
    </insert>

    <update id="updateFriendStatus">
        UPDATE follow
        SET friend_status = #{friendStatus}
        WHERE following_id = #{myUserId} AND follower_id = #{friendId}
    </update>

    <delete id="deleteFriend">
        DELETE FROM follow
        WHERE (following_id = #{myUserId} AND follower_id = #{friendId})
    </delete>

    <select id="findByFollowAlarmId" resultType="Long">
        SELECT alarm_id
        FROM follow f
        WHERE (f.following_id = #{myUserId} AND f.follower_id = #{friendId})
    </select>
</mapper>

