<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yapp.ios1.mapper.SearchMapper">
    <select id="searchMyBook" resultType="Bucket">
        SELECT DISTINCT(b.id),
               b.bucket_name     as bucketName,
               b.bucket_content  as content,
               b.created_date    as createdDate,
               b.end_date        as endDate,
               b.bucket_state    as bucketState,
               b.bookmark        as isBookmark,
               b.fin             as isFin
        FROM bucket b
            LEFT JOIN (SELECT bt.bucket_id, t.* FROM bucket_tag bt JOIN tag t ON t.id = bt.tag_id) as t
                ON b.id = t.bucket_id
        WHERE (b.bucket_name LIKE CONCAT("%", #{keyword}, "%") OR t.tag_name LIKE CONCAT("%", #{keyword}, "%"))
            AND user_id = #{userId}
    </select>

    <select id="searchUser" resultType="Friend">
        SELECT DISTINCT (u.id) as userId,
               u.nickname,
               u.intro,
               u.profile_url as profileUrl,
               IFNULL(f.friend_status, 3) as friendStatus
        FROM (
            SELECT * FROM user u
            WHERE (u.nickname LIKE CONCAT("%", #{keyword}, "%") OR u.intro LIKE CONCAT("%", #{keyword}, "%")) AND u.id NOT IN (#{userId})
            ) as u
            LEFT OUTER JOIN follow f
                ON (u.id = f.follower_id OR f.following_id = u.id) AND (f.follower_id = #{userId} OR f.following_id = #{userId})
        ORDER BY friend_status DESC
    </select>

    <select id="searchBookMark" resultType="Bucket">
        SELECT DISTINCT (b.id),
               u.id           as userId,
               b.bucket_name  as bucketName,
               bucket_content as content,
               b.bucket_state as bucketState,
               b.created_date as createdDate,
               b.end_date     as endDate,
               u.profile_url  as userProfileUrl,
               c.id           as categoryId,
               b.bookmark     as isBookmark,
               b.fin          as isFin
        FROM bucket b
            LEFT JOIN (SELECT bt.bucket_id, t.* FROM bucket_tag bt JOIN tag t ON t.id = bt.tag_id) as t
                ON b.id = t.bucket_id
            JOIN user u
                ON b.user_id = u.id
            JOIN category c
                ON b.category_id = c.id
        WHERE (b.bucket_name LIKE CONCAT("%", #{keyword}, "%")
              OR c.category_name LIKE CONCAT("%", #{keyword}, "%"))
              AND u.id NOT IN (#{userId}) AND b.bookmark = true
    </select>
</mapper>

