<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yapp.ios1.mapper.UserMapper">
    <insert id="signUp" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (email, social_type, password, nickname, intro, social_id) VALUES(#{email}, #{socialType}, #{password}, #{nickname}, #{intro}, #{socialId})
    </insert>

    <select id="findByUserId" resultType="UserDto">
        SELECT * FROM user WHERE id = #{userId};
    </select>

    <select id="findByEmail" resultType="UserDto">
        SELECT * FROM user WHERE email = #{email};
    </select>

    <select id="findByEmailOrNickname" resultType="UserDto">
        SELECT * FROM user WHERE email = #{email} OR nickname = #{nickname} LIMIT 1;
    </select>

    <select id="findByNickname" resultType="UserDto">
        SELECT * FROM user WHERE nickname = #{nickname};
    </select>

    <select id="findBySocialId" resultType="UserDto">
        SELECT * FROM user WHERE social_id = #{socialId};
    </select>

    <select id="findProfileByUserId" resultType="ProfileResultDto">
        SELECT nickname, intro, profile_url as profileUrl FROM user WHERE id = #{userId};
    </select>

    <update id="updateProfile">
        UPDATE user
        SET nickname    = #{profile.nickname},
            intro       = #{profile.intro},
            profile_url = #{profile.profileUrl}
        WHERE id = #{userId};
    </update>

    <select id="findDeviceTokenByUserId" resultType="String">
        SELECT device_token
        FROM user
        WHERE id = #{userId}
    </select>

    <select id="findAllUserDeviceToken" resultType="String">
        SELECT device_token
        FROM user
</select>
</mapper>